<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3 class="modal-title" id="myModalLabel">New Condition</h3>
      </div>
      <%= form_for Condition.new do |f| %>
      <div class="modal-body">
        <div>
          <%= f.hidden_field :name, value: 'dasjk' %>
        </div>
        <%= render 'conditions/new_modal' %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <%= f.submit "Add This Condition", class: "btn btn-primary" %>
      </div>
      <% end %>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-3">
      <%= render "users/sidebar" %>
    </div>
    <div class="col-md-9">
      <h2>
        <strong>Current Conditions</strong>
        <a class="btn btn-raised btn-primary " data-toggle="modal" data-target="#myModal">
          Add Condition
        </a>
      </h2>
      <div class="row">
        <% for condition in @conditions %>
        <div class="journal_nav col-md-6">
          <div class='well'>
            <h4>
              <strong>
                <% if condition.page.presence %>
                <%= link_to condition.page.name, condition_posts_path(condition), class: 'btn btn-lg btn-primary' %>
                <% else %>
                <%= link_to condition.name, condition_posts_path(condition) %>
                <% end %>
              </strong>
            </h4>
            <% if condition.posts.any? %>
            <%= condition.posts.first.description %><br>
            <%= condition.posts.first.created_at.strftime("%B %d, %Y") %> 
            at <%= condition.posts.first.created_at.strftime("%I:%M") %>
            <% else %>
            <br><br><br>
            <% end %>
          </div>
        </div>
        <% end %>
      </div>

      <div class="panel panel-default">
        <div class="panel-body">
          <h1>Past Conditions</h1>
          <hr>
        </div>
      </div>
    </div>
  </div>
</div>
