<div class="container">
  <div class="row">
    <div class="col-md-3">
      <%= render "users/sidebar" %>
    </div>
    <div class="col-md-9">
      <h2>
        <%= @user.first_name %>'s Ongoing Conditions
      </h2>
      <p>
        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseForm" aria-expanded="false" aria-controls="collapseExample">
          <%= fa_icon "medkit" %>  Add Condition
        </button>
      </p>
      <div class="collapse" id="collapseForm">
        <div class="well">
          <%= render 'conditions/form' %>
        </div>
      </div>
      <div class="row">
        <% for condition in @conditions %>
        <div class="journal_nav col-md-12">
          <div class='well'>
            <h3>
              <strong>
                <% if condition.page.presence %>
                <%= link_to condition.page.name, condition_posts_path(condition), class: '' %>
                <% else %>
                <%= link_to condition.name, condition_posts_path(condition) %>
                <% end %>
              </strong>
            </h3>
            <% if condition.posts.any? %>
            <%= condition.posts.first.description %>
            <%= condition.posts.first.created_at.strftime("%B %d, %Y") %> 
            at <%= condition.posts.first.created_at.strftime("%I:%M") %>
            <% else %>
            <% end %>
            <p>
              <%= link_to edit_condition_path(condition), class: "btn btn-sm btn-default tag-tooltip", data: {:toggle=>"tooltip"}, 'data-original-title' => "Edit " + condition.page.name, 'data-placement' => 'bottom'  do %>
              <i class='fa fa-gear'></i> Edit
              <% end %>
              <%= link_to condition, class: "btn btn-sm btn-default tag-tooltip", data: {:toggle=>"tooltip"}, 'data-original-title' => "Remove " + condition.page.name, 'data-placement' => 'bottom', :confirm => 'Are you sure?', :method => :delete do %>
              <i class='fa fa-trash-o'></i> Remove
              <% end %>
            </p>
          </div>
        </div>
        <% end %>
      </div>
      <h2>Past Conditions</h2>
      <div class="panel panel-default">
        <div class="panel-body">
        </div>
      </div>
    </div>
  </div>
</div>
