<div class="container">
  <center>
    <div class="intro-message">
      <h1>How it Works</h1>
    </div>
  </center>
  <hr style="border-top: 3px solid #e7e7e7;">
  <h2>Timeline</h2>
  <p class="lead">
    When you go to the doctor, the first thing that happens is you recite the story of your medical history. This happens even if you've seen the same doctor before. We display the history of your health data in a way that is easy for any doctor or specialist to understand. The Health Timeline prioritizes clarity, comprehension, and searchability. 
  </p>

  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="browser-mockup with-url">
        <br>
        <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <div class="panel panel-danger">
              <div class="panel-heading">
                <span class="pull-right">July 12, 2015 at 2:12 PM</span>
                <strong><%= fa_icon 'user-md' %> Doctor/Clinic Visit</strong>
              </div>
              <div class="panel-body">
                Got back the lab tests today. 
                <br>
                <button class="btn btn-default pull-right"><%= fa_icon 'files-o' %> See attached files</button>
              </div>
            </div>
            <div class="panel panel-warning">
              <div class="panel-heading" style="color: black;">
                <span class="pull-right">October 1, 2015 at 9:42 AM</span>
                <strong><%= fa_icon 'bug' %> Immunization</strong>
              </div>
              <div class="panel-body">
                Received an influenza shot at <b>Palo Alto Medical Foundation</b>
              </div>
            </div>
            <div class="panel panel-primary">
              <div class="panel-heading">
                <span class="pull-right">March 18, 2015 at 10:30 AM</span>
                <strong><%= fa_icon 'heartbeat' %> Symptom/Event</strong>
              </div>
              <div class="panel-body">
                Had a runny nose and cough all day. 
              </div>
            </div>
            <center><button class="btn btn-default"><%= fa_icon 'caret-down' %> See More Health Events...</button></center>
            <br>
          </div>
        </div>
      </div>
    </div>
  </div>


  <hr style="border-top: 3px solid #e7e7e7;">

  <h2>Summary</h2>
  <p class="lead">
    Health Summary provides a snapshot of your up to date health information. If a doctor or specialist wants to know what medications you are currently taking, what conditions are currently bothering you, they can look at the Health Summary. While the Timeline includes context of health events over time, the Summary page puts current data in one neat view. 
  </p>


  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="browser-mockup with-url">
        <br>
        <div class="row">
          <div class="col-md-10 col-md-offset-1">

            <h4>Conditions</h4>
            <table class='table table-striped table-hover table-responsive'>
              <thead>
                <tr class="info">
                  <td>Name</td>
                  <td>Treatments</td>
                  <td></td>
                  <td></td>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Asthma</td>
                  <td>Flovent, Albuterol</td>
                </tr>
                <tr>
                  <td>High Blood Pressure</td>
                  <td>Altace, Meditation
                </tr>
              </tbody>
            </table>

            <h4>Medications</h4>
            <table class='table table-striped table-hover table-responsive'>
              <thead>
                <tr class="info">
                  <td>Name</td>
                  <td>Dosage</td>
                  <td></td>
                  <td></td>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Tylenol</td>
                  <td>2 pills as needed</td>
                </tr>
                <tr>
                  <td>Claritin D</td>
                  <td>1 pill daily</td>
                </tr>
                <tr>
                  <td>Amoxycilin</td>
                  <td>3 pills daily until 12/1</td>
                </tr>
              </tbody>
            </table>

            <h4>Allergies</h4>
            <table class='table table-striped table-hover table-responsive'>
              <thead>
                <tr class="info">
                  <td>Name</td>
                  <td>Treatment</td>
                  <td></td>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Trees/grasses pollen</td>
                  <td>Claritin D</td>
                </tr>
                <tr>
                  <td>Cats/dogs dander</td>
                  <td>Claritin D</td>
                </tr>
              </tbody>
            </table>

          </div>
        </div>
      </div>
    </div>
  </div>

  <hr style="border-top: 3px solid #e7e7e7;">

  <h2>Community of Care</h2>
  <p class="lead">
    Healthcare is a team sport. Great care often features coordination among a variety of health specialists or people, often including family. Why should you have to print out a copy of your medical records, which are bound to become out-of-date quickly, when you can simply connect people to your up-to-date record? 
  </p>
  <hr>


  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="browser-mockup with-url">
        <br>
        <div class="row">
          <div class="col-md-8 col-md-offset-2">

            <div class="row"><div class="col-md-2"><center><br><%= fa_icon 'user 2x' %></center></div><div class="col-md-10">
              <h3>Johnny Appleseed</h3>
              <p>Family</p></div>
            </div>
            <div class="row"><div class="col-md-2"><center><br><%= fa_icon 'user-md 2x' %></center></div><div class="col-md-10">
              <h3>Dr. Eric Topol</h3>
              <p>Cardiologist</p></div>
            </div>
            <div class="row"><div class="col-md-2"><center><br><%= fa_icon 'user-md 2x' %></center></div><div class="col-md-10">
              <h3>Dr. Thomas Wisler</h3>
              <p>General Practitioner</p></div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>