<%= render "layouts/navbar" %>
<!-- Header -->
<div class="intro-header">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="intro-message">
          <%= image_tag "ShorelineTeal.png", width: 222, class: 'shadowedd' %><br>
          <h1>Shoreline</h1>
          <hr class="intro-divider">
          <h3>Your health records - anywhere</h3>
          <ul class="list-inline intro-social-buttons">
            <li>
              <%= link_to "Get Started Today!", new_user_registration_path, class: "network-name btn btn-lg btn-primary" %>
            </li>
            <li>
              <%= link_to new_user_session_path, class: "network-name btn btn-lg btn-info" do %><%= fa_icon 'sign-in' %> Sign In <% end %>
            </li>
          </ul>
        </div>
      </div>
    </div>

  </div>
  <!-- /.container -->

</div>
<!-- /.intro-header -->

<!-- Page Content -->

<a  name="services"></a>
<div class="content-section-a">

  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-sm-6">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">The safest way to store your health records</h2>
        <p class="lead">Shoreline sets all your data to private by default and is HIPAA compliant. Your info will always be kept safe and private.</p>
      </div>
      <div class="col-lg-5 col-lg-offset-2 col-sm-6">
        <center>
          <h1>
            <i class="text-primary fa fa-lock fa-5x"></i>
          </h1>
        </center>
      </div>
    </div>

  </div>
  <!-- /.container -->

</div>
<!-- /.content-section-a -->

<div class="content-section-b">

  <div class="container">

    <div class="row">
      <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">Comprehensive catalogs which belong to you, but are also sharable</h2>
        <p class="lead">We leave you in complete control over your own data. We also know great healthcare is a team effort, so you can set precise permissions for who can see or add to your records.</p>
      </div>
      <div class="col-lg-5 col-sm-pull-6  col-sm-6">
        <center>
          <h1>
            <p><i class="text-primary fa fa-file-o fa-3x"></i></p><p><i class="text-primary fa fa-arrows-v fa-3x"></i></p><p><i class="text-primary fa fa-users fa-3x"></i></p>
          </h1>
        </center>
      </div>
    </div>

  </div>
  <!-- /.container -->

</div>
<!-- /.content-section-b -->


<div class="content-section-a">

  <div class="container">
    <center>
      <h1>Features</h1><br><br>
      <div class="row">
        <div class="col-md-2 col-md-offset-2">
          <%= fa_icon "file-o 2x" %><h4><b>Catalog</b></h4><p>Organize your health information in one secure place.</p>
        </div>
        <div class="col-md-2">
          <%= fa_icon "bar-chart-o 2x" %><h4><b>Tracking</b></h4><p>Share your lists with colleagues, friends and family.</p>
        </div>
        <div class="col-md-2">
          <%= fa_icon "star 2x" %><h4><b>Medical Reviews</b></h4><p>Read reviews from people who have similar issues or take the same medications.</p>
        </div>
        <div class="col-md-2">
          <%= fa_icon "print 2x" %><h4><b>Print</b></h4><p>Print wallet ID cards, health summaries to bring to your doctor, or your full catalog.</p>
        </div>
      </div>
      <hr>
      <h1>Security</h1><br><br>
      <div class="row">
        <div class="col-md-2 col-md-offset-2">
          <%= fa_icon "lock 2x" %><h4><b>Private By Default</b></h4><p>Share your lists with colleagues, friends and family.</p>
        </div>

        <div class="col-md-2">
          <%= fa_icon "group 2x" %><h4><b>Team Based Care</b></h4><p>Share what data you choose to whoever you want: doctors, family, or friends.</p>
        </div>
        <div class="col-md-2">
          <%= fa_icon "eye-slash 2x" %><h4><b>No Targeted Ads</b></h4><p>We will never allow targeted advertising to compromise your health.</p>
        </div>
        <div class="col-md-2">
          <%= fa_icon "user-md 2x" %><h4><b>HIPAA Compliant</b></h4><p>Your health data will be managed safely and effectively.</p>
        </div>
      </div>
      <hr>
      <h1>Data Types</h1><br><br>
      <div class="row">
        <div class="col-md-2 col-md-offset-2">
          <%= fa_icon "bug 2x" %><h4><b>Immunizations</b></h4><p>Make sure you've taken the right vaccinations when you need them.</p>
        </div>
        <div class="col-md-2">
          <%= fa_icon "stethoscope 2x" %><h4><b>Conditions</b></h4><p>.</p>
        </div>
        <div class="col-md-2">
          <%= fa_icon "leaf 2x" %><h4><b>Allergies</b></h4><p>Share your lists with colleagues, friends and family.</p>
        </div>
        <div class="col-md-2">
          <%= fa_icon "medkit 2x" %><h4><b>Medications</b></h4><p>Share your lists with colleagues, friends and family.</p>
        </div>
      </div>
    </center>
  </div>

</div>

<div class="content-section-b">
  <div class="container">
    <center>
      <ul class="list-inline intro-social-buttons">
        <li>
          <%= link_to "Get Started Today!", new_user_registration_path, class: "network-name btn btn-lg btn-primary" %>
        </li>
        <li>
          <%= link_to new_user_session_path, class: "network-name btn btn-lg btn-info" do %><%= fa_icon 'sign-in' %> Sign In <% end %>
        </li>
      </ul>
    </center>
  </div>
</div>
<div class="content-section-a">
  <div class="container">
    <center><br><%= image_tag "ShorelineTeal.png", width: 30 %><br><br><div class="container-fluid"></center>
      <center>Copright &copy; Shoreline Harbor, 2014 <br>
        <%= link_to "About Shoreline", static_pages_about_path %> | <%= link_to "Products", static_pages_company_path %>  | <%= link_to "Updates", "https://twitter.com/ShorelineIO" %> | <%= link_to "Help & Tutorials", static_pages_help_path %> | <%= link_to "Company Roadmap", static_pages_roadmap_path %><br>Made with <i class="fa fa-heart text-danger"></i> by <%= link_to "James Steininger", "http://www.jamessteininger.info/about/" %><br>
        </div>
      </div>

  </div>
</div>