<div class="container">
  <%= bootstrap_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <div class="row">
    <div class="col-md-3">
      <div class="panel panel-default">
        <div class="panel-body">
          <center>
            <% if @user.imageurl.presence %>
            <%= image_tag @user.imageurl, class: 'img-circle', style: 'max-width: 140px; max-height: 140px;' %>
            <% end %>
          </center>
          <h3>
            <%= f.text_field :first_name, autofocus: true %>
            <%= f.text_field :last_name %>
          </h3>
          <%= f.email_field :email %>
          <%= f.text_field :imageurl %>
          <%= f.date_select :date_of_birth, start_year: 1900 %>
          <%= f.select :gender, gender: [:Male, :Female] %>
          <%= f.select :doner?, doner: [:Yes, :No] %>
          <%= f.select :bloodtype, bloodtype: ["Unknown", "O+", "O-", "A+", "A-", "B+", "B-", "AB+", "AB-"] %>
          <%= f.text_area :address %>
        </div>
      </div>
    </div>
    <div class="col-md-9">
      <h1>Update Profile</h1>
      <p>
        <button class="btn btn-default" type="button" data-toggle="collapse" data-target="#collapseShare" aria-expanded="false" aria-controls="collapseExample">
          <%= fa_icon "gear" %>  Change password?
        </button>
      </p>
      <div class="panel panel-default">
        <div class="panel-body">
          <%= devise_error_messages! %>
          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
          <% end %>
          <div class="collapse" id="collapseShare">
            <div class="well">
              <i>New Password (leave blank if you don't want to change it)</i>
              <%= f.password_field :password, autocomplete: "off" %>

              <%= f.password_field :password_confirmation, autocomplete: "off"%>
            </div>
          </div>
          <%= f.password_field :current_password, autocomplete: "off", placeholder: "Current password..." %>

          <p>
            <button type="submit" class="btn btn-primary btn-lg btn-block">
              <%= fa_icon 'check' %> Update Profile
            </button>
          </p>
          <p><%= link_to "Cancel Editing", current_user, class: "btn-block btn btn-default" %><br><%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "text-danger" %></p>
        </div>
      </div>
    </div>
  </div>
  <% end %>
</div>