<%= render 'layouts/panel_head' %>
<h2>
  <h1><%= fa_icon "inbox" %> Inbox</h1>
</h2>
<% if !@notifications.any?{|immunization| immunization.b_read == true} %>
<p>
  <%= link_to user_mark_read_path(current_user), class: ' btn-' do %>
  <%= fa_icon "check" %>  Mark All As Read
  <% end %>
</p>
<% end %>
<table class='table table-striped table-hover table-responsive'>

  <tbody>
    <% @notifications.each do |notification| %>
    <% if notification.b_read %>
    <tr>
      <% else %>
    <tr class="success">
      <% end %>
      <td><%= notification.content %></td>
      <td><%= notification.created_at.strftime("%B %d, %Y") %></td>

      <td><% if !notification.b_read %><%= link_to user_mark_read_path(current_user), class: 'pull-right btn btn-sm btn-default' do %>
        <%= fa_icon "check" %>  Mark As Read
        <% end %><% end %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<%= render 'layouts/panel_foot' %>