<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @notification.user_id %>
</p>

<p>
  <strong>B read:</strong>
  <%= @notification.b_read %>
</p>

<p>
  <strong>Content:</strong>
  <%= @notification.content %>
</p>

<p>
  <strong>Imageurl:</strong>
  <%= @notification.imageurl %>
</p>

<p>
  <strong>Notificationurl:</strong>
  <%= @notification.notificationurl %>
</p>

<%= link_to 'Edit', edit_notification_path(@notification) %> |
<%= link_to 'Back', notifications_path %>
