<h2>
  Profile
</h2>
<p>
  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
    <%= fa_icon "plus" %>  Add Record
  </button>
  <%= link_to edit_user_registration_path(current_user), class: "btn btn-raised btn-primary" do %><i class="fa fa-share"></i> Share<% end %>
  <%= link_to user_printable_path(current_user), class: 'btn btn-raised btn btn-primary' do %><i class="fa fa-print"></i> Print<% end %>
  <%= link_to edit_user_registration_path(current_user), class: "btn btn-raised btn-default" do %><i class="fa fa-gear"></i> Settings<% end %>
  <% if @conditions.count > 0 %>
</p>

<div class="collapse" id="collapseExample">
  <div class="well">
    <%= render 'posts/new_post' %>
  </div>
</div>

<% @conditions.each do |f| %>
<% f.posts.each do |postX| %>
<div class="journal_nav panel panel-default">
  <div class="panel-body">
    <h4>
      <span class="label label-primary">
        <%= postX.condition.page.name %>
      </span>
    </h4>
    <%= postX.created_at.strftime("%B %d, %Y") %> | <%= time_ago_in_words(postX.created_at) %> ago<br>
    <h4>
      <% if postX.title? %>
      <%= postX.title %><br />
      <% end %>
      <% if postX.description? %>
      <%= postX.description %>
      <% end %> 
      <%= link_to condition_posts_path(postX.condition), class: "" do %>
      <% end %>
    </h4>
  </div>
</div>
<% end %>
<% end %>
<% else %>
<h2>Welcome to Komodo!</h2>
<p class="lead">This is your profile page, where you will be able to see all of your medical updates and history of your health data.<br><br>
  Here are a couple of things you can do to get started:<br>
<ol class="lead">
  <li>Add <%= link_to "conditions or issues", user_conditions_path(@user) %> to your profile</li>
  <li>Add <%= link_to "health goals", user_goals_path(@user) %></li>
</ol>
</p>
<% end %>
</div>

<script>
  $('.dddjournal_nav').addClass('animated fadeInUp');
</script>