<div class="dropdown pull-right">
    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
      <%= fa_icon 'plus' %> Add to Timeline
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
      <li>
        <%= link_to new_user_symptom_path(@user), class: ' text-' do %>
        <%= fa_icon 'heartbeat' %> Symptom/Event
        <% end %>
      </li>
      <li>
        <%= link_to new_user_condition_path(@user), class: '' do %>
        <%= fa_icon 'stethoscope' %> Diagnosis
        <% end %>
      </li>
      <li>
        <%= link_to new_user_medication_path(@user), class: '' do %>
        <%= fa_icon 'medkit' %> Medication
        <% end %>
      </li>
      <li>
        <%= link_to new_user_allergy_path(@user), class: ' text-' do %>
        <%= fa_icon 'bug' %> Allergy
        <% end %>
      </li>
      <li>
        <%= link_to new_user_doctor_visit_path(@user) do %>
        <%= fa_icon 'user-md' %> Doctor/Clinic Visit
        <% end %>
      </li>
      <li>
        <%= link_to user_immunizations_path(@user) do %>
        <%= fa_icon 'bug' %> Immunization
        <% end %>
      </li>
      <li>
        <%= link_to user_metrics_path(@user) do %>
        <%= fa_icon 'bicycle' %> Fitness Event/Data
        <% end %>
      </li>
    </ul>
  </div>