<!-- The sidebar of the user profile. Contains personal info, lists of medications, allergies, conditions, goals, and links to printing or editing data. -->

<!-- Basic health information -->
<div class="panel panel-default">
  <div class="panel-body">
    <center><% if @user.imageurl.presence %>
      <%= image_tag @user.imageurl, class: 'img-circle', style: 'max-width: 140px; max-height: 140px;' %>
      <% end %>
    </center>
    <h3><%= link_to @user.full_name, @user %>
    </h3>
    <% if @user.date_of_birth.presence %><strong>Birthday</strong> 
    <%= current_user.date_of_birth.strftime("%B %d, %Y") %> (age <%= (Date.today - current_user.date_of_birth).to_i / 365 %>)<br><% end %>
    <% if @user.gender.presence %><strong>Gender</strong> <%= current_user.gender %><br><% end %>
    <% if @user.bloodtype.presence %> <strong>Bloodtype</strong> <%= current_user.bloodtype %><br><% end %>
    <hr>
    <%= link_to user_allergies_path(@user) do %><%= fa_icon "heart" %> Summary<% end %> <br>
    <%= link_to user_allergies_path(@user) do %><%= fa_icon "leaf" %> Allergies<% end %> <br>
    <%= link_to user_conditions_path(@user) do %><%= fa_icon "stethoscope" %> Conditions<% end %> <br>
    <%= link_to user_medications_path(@user) do %><%= fa_icon "medkit" %> Medications<% end %> <br>
    <%= link_to user_goals_path(@user) do %><%= fa_icon "star" %> Goals<% end %><br>
    <%= link_to user_metrics_path(@user) do %><%= fa_icon "bar-chart" %> Trackers<% end %> <br>
    <%= link_to user_network_path(@user) do %><%= fa_icon "group" %> Network<% end %>
  </div>
</div
  
<!-- Helpful stuff like printing your profile --> 
<% link_to edit_user_registration_path(current_user), class: "btn btn-block btn-default" do %><i class="fa fa-gear"></i> Profile Settings<% end %>
<% link_to user_printable_path(current_user), class: 'btn btn-block btn btn-default' do %><i class="fa fa-print"></i> Print My Health Record<% end %>
