<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <%= render 'layouts/panel_head' %>
      <center><h1>My Trackers &amp; Communities</h1></center>
      <%= render 'layouts/panel_foot' %>
      <hr>
      <%= render 'layouts/panel_head' %>
      <center><h1>Most Used Trackers</h1></center>
      <center><%= link_to "See All Trackers", pages_path %></center>
      <%= render 'layouts/panel_foot' %>
      <hr>
      <%= render 'layouts/panel_head' %>
      <center><h1>Most Joined Communities</h1></center>
      <%= render 'pages/top_pages' %>
      <center><%= link_to "See All Communities", pages_path %></center>
      <%= render 'layouts/panel_foot' %>
    </div>
  </div>
  <hr>
  <br>
</div>