<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <%= render "users/sidebar" %>
      <div class="btn-group btn-group-justified" role="group" aria-label="...">
        <%= link_to user_dashboard_path(current_user), class: 'btn btn-primary btn-justified' do %><%= fa_icon "list-alt" %> Timeline <% end %>
        <%= link_to user_summary_path(current_user), class: 'btn btn-default btn-justified' do %><%= fa_icon "file-text-o" %> Summary <% end %>
      </div>
      <br>
      <% @things_month.sort.reverse.each do |month, things| %>
      <h2><b><%= month.strftime('%B') %> <%= month.strftime('%Y') %></b></h2>
      <% for f in things %>

      <% if f.is_a? Medication %>
      <div class="panel panel-primary">
        <div class="panel-heading">
          <a href="#" class="pull-right btn btn-primary btn-sm" style="margin-top: -5px; margin-left: 10px;"><%= fa_icon 'gear' %></a>
          <span class="pull-right"><%= f.created_at.strftime("%B %d, %Y at %I:%M %p") %></span>
          <%= fa_icon 'medkit' %> <strong>Medication</strong>
        </div>
        <div class="panel-body">
          Started taking <b><%= f.name %></b>
        </div>
      </div>


      <% elsif f.is_a? DoctorVisit %>
      <div class="panel panel-danger">
        <div class="panel-heading">
          <a href="#" class="pull-right btn btn-danger btn-sm" style="margin-top: -5px; margin-left: 10px;"><%= fa_icon 'gear' %></a>
          <span class="pull-right"><%= f.created_at.strftime("%B %d, %Y at %I:%M %p") %></span>
          <strong><%= fa_icon 'user-md' %> Doctor Visit</strong>
        </div>
        <div class="panel-body">
          <h5><%= f.created_at.strftime("%B %d, %Y at %I:%M %p") %></h5>
          <h4>
            <b>Reason: </b>Visited <%= if f.has_attribute?(:doctor) then f.doctor end %> for <b><i><%= f.reason %></i></b> at <b><%= f.location %></b><br>
            <b>Notes: </b><%= f.notes %>
          </h4>
          <h6>
            <%= link_to  edit_doctor_visit_path(f) do %><%= fa_icon 'pencil' %> Edit<% end %> | 
            <%= link_to  edit_doctor_visit_path(f) do %> <%= fa_icon 'trash' %> Delete<% end %> 
          </h6>
        </div>
      </div>

      <% elsif f.is_a? Immunization %>
      <div class="panel panel-warning">
        <div class="panel-heading" style="color: black;">
          <a href="#" class="pull-right btn btn-warning btn-sm" style="margin-top: -5px; margin-left: 10px;"><%= fa_icon 'gear' %></a>
          <span class="pull-right"><%= f.created_at.strftime("%B %d, %Y at %I:%M %p") %></span>
          <strong><%= fa_icon 'bug' %> Immunization</strong>
        </div>
        <div class="panel-body">
          <%= f.name %>
        </div>
      </div>

      <% elsif f.is_a? Symptom %>
      <div class="panel panel-primary">
        <div class="panel-heading">
          <a href="#" class="pull-right btn btn-primary btn-sm" style="margin-top: -5px; margin-left: 10px;"><%= fa_icon 'gear' %></a>
          <span class="pull-right"><%= f.created_at.strftime("%B %d, %Y at %I:%M %p") %></span>
          <strong><%= fa_icon 'heartbeat' %> Symptom</strong>
        </div>
        <div class="panel-body">
          <%= f.description %>
        </div>
      </div>

      <% elsif f.is_a? Condition %>
      <div class="panel panel-info">
        <div class="panel-heading">
          <a href="#" class="pull-right btn btn-info btn-sm" style="margin-top: -5px; margin-left: 10px;"><%= fa_icon 'gear' %></a>
          <span class="pull-right"><%= f.created_at.strftime("%B %d, %Y at %I:%M %p") %></span>
          <strong><%= fa_icon 'stethoscope' %> Diagnosis/Condition</strong>
        </div>
        <div class="panel-body">
          <%= f.name %>
        </div>
      </div>

      <% elsif f.is_a? Allergy %>
      <div class="panel panel-success">
        <div class="panel-heading">
          <a href="#" class="pull-right btn btn-success btn-sm" style="margin-top: -5px; margin-left: 10px;"><%= fa_icon 'gear' %></a>
          <span class="pull-right"><%= f.created_at.strftime("%B %d, %Y at %I:%M %p") %></span>
          <%= fa_icon 'leaf' %> <strong>Allergy</strong>
        </div>
        <div class="panel-body">
          <b>Allergy: </b><%= f.name %>
          <br>
          <b>Notes: </b><%= f.description %>
        </div>
      </div>

      <% end %>
      <% end %>
      <% end %>
    </div>
    <div class="col-md-3">

    </div>
  </div>
</div>

