<div class="container">
  <div class="panel panel-default">
    <div class="panel-body">
      <h1>Looking for someone?</h1>
      <p><i class="fa fa-lock"></i> <strong>Please note, Komodo will never share your information with anyone. </strong>If you want another user to see any part of your information, you must connect with them directly and explicitly choose what information is shared with that person. 
      </p>
      <hr>
      <% @users.each do |user| %>
      <h3 class="media-heading">
        <% if user.avatar.presence  %>
        <%= avatar_profile_link user, {height: 70}, style: "margin: 0px; padding: 0px; padding-right: 14px;", class: "pull-left media-object" %>
        <% else %>

        <% end %>
        <% if user.imageurl.presence %>
        <%= image_tag user.imageurl, class: 'img-circle', style: 'max-width: 40px; max-height: 40px;' %>
        <% end %><%= link_to user.full_name, user %>
        <% if current_user.following?(user) %>
        <%= link_to user, class: "btn btn-sm btn-default" do %> 
        <%= fa_icon "user" %> View Profile
        <% end %>
        <%= link_to "Edit Permissions", edit_handshake_path(current_user.find_handshake(user)), class: "btn btn-sm btn-primary" %>
        <% else %>
        <% unless current_user?(user) %>
        <%= form_for(current_user.handshakes.build(followed_id: user.id, relationship_name: 'Friend'), class: 'form-inline') do |f| %>
        <%= f.hidden_field :followed_id %><%= f.hidden_field :relationship_name, value: 'Friend' %>
        <%= button_tag(type: "submit", class: "btn btn-default btn-sm") do %>
        <%= fa_icon "plus" %> Add to Network
        <% end %>
        <% end %>
        <% end %>
        <% end %>
      </h3>
      <hr>

      <div class="modal fade" id="myModal<%= user.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h3 class="modal-title" id="myModalLabel">Add to Network</h3>
            </div>
            <div class="modal-body">
              <h4>How do you know <%= user.full_name %>?
                <% unless current_user?(user) %>
                <%= form_for(current_user.handshakes.build(followed_id: user.id)) do |f| %>
                <%= f.hidden_field :followed_id %>
                <%= f.submit "Handshake", class: "btn btn-primary" %>
                <% end %>
                <% end %>
              </h4>
              <h5>Please note, your information will still be private to <%= user.full_name%>. You can choose what information <%= user.full_name %> can see after connecting with them. </h5>
            </div>
          </div>
        </div>
      </div>
      <% end %>
      <%= will_paginate @users, class: 'pagination', renderer: BootstrapPagination::Rails %>
    </div>
  </div>
</div>
