<div class="container">
  <div class="row">
    <div class="col-md-3">
      <%= render "users/sidebar" %>
    </div>
    <div class="col-md-9">
      <h2>
        <button class="btn btn-info pull-right btn-sm" style="margin-left: 5px;" type="button" data-toggle="collapse" data-target="#collapseMakeMetric" aria-expanded="false" aria-controls="collapseExample">
          <%= fa_icon "plus" %> Make Custom Tracker
        </button> 
        <button class="btn btn-primary pull-right btn-sm" type="button" data-toggle="collapse" data-target="#collapseMetric" aria-expanded="false" aria-controls="collapseExample">
          <%= fa_icon "plus" %> Add Tracker
        </button>
        <%= @user.first_name %>'s Trackers
      </h2>
      <div class="collapse" id="collapseMakeMetric">
        <div class="well">
          <%= render 'trackers/form' %>
        </div>
      </div>
      <div class="collapse" id="collapseMetric">
        <div class="well">
          <%= render 'trackers/template_forms' %>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-body">
          <div id="custom_tracker">
            <%= render 'trackers/list' %>
            
          </div>
          <h3>Height (inches) <button class="btn btn-primary btn-sm" type="button" data-toggle="collapse" data-target="#collapseHeight" aria-expanded="false" aria-controls="collapseExample">
            <%= fa_icon "plus" %>  Add Record
            </button></h3>
          <div class="collapse" id="collapseHeight">
            <div class="well">
              <%= render 'heights/form' %>
            </div>
          </div>
          <%= line_chart Height.group(:created_at).maximum(:amount) %>
          <h3>Weight (lbs) <button class="btn btn-primary btn-sm" type="button" data-toggle="collapse" data-target="#collapseWeight" aria-expanded="false" aria-controls="collapseExample">
            <%= fa_icon "plus" %>  Add Record
            </button></h3>
          <div class="collapse" id="collapseWeight">
            <div class="well">
              <%= render 'weights/form' %>
            </div>
          </div>
          <%= line_chart Weight.group(:created_at).maximum(:amount) %>
        </div>
      </div>
    </div>
  </div>
</div>
