<div class="container">
  <div class="row">
    <div class="col-md-3">
      <%= render "users/sidebar" %>
    </div>
    <div class="col-md-9">
      <ul class="nav nav-tabs">
        <li class="active"><%= link_to user_network_path(@user) do %><%= fa_icon "users", class: 'text-primary' %> Network <% end %></li>
        <li><%= link_to user_network_permissions_path(@user) do %><%= fa_icon "lock", class: 'text-primary' %> Permissions <% end %></li>
        <li><%= link_to user_network_feed_path(@user) do %><%= fa_icon "files-o", class: 'text-primary' %> Data Stream <% end %></li>
      </ul>
      <div class="panel panel-default">
        <div class="panel-body">
          <% if @user.followed_users.any? %>
          <% @user.handshakes.each do |f| %>

          <p class="pull-right">
            <%= link_to edit_handshake_path(f), class: "btn btn-sm btn-default tag-tooltip", data: {:toggle=>"tooltip"}, 'data-original-title' => "Edit " , 'data-placement' => 'bottom'  do %>
            <i class='fa fa-gear'></i> Edit Relationship
            <% end %>
            <%= link_to "Message", f, class: 'btn btn-sm  btn-default pull-' %>
            <%= link_to "Remove", f, class: 'btn btn-sm  btn-default pull-', method: :delete %>
          </p>
          <p>
            <%= image_tag f.followed.imageurl, class: 'img-circle pull-left', style: 'padding: 0px; margin: 0px; padding-right: 10px; max-width: 55px; max-height: 55px;' %> <%= link_to f.followed.full_name, f.followed %> <br><%= f.relationship_name %>
          </p>
          <hr>
          <% end %>
          <% end %>

          <center>
            <p>
              <%= link_to "Click here to find family, friends, doctors or specialists to add to your network.", users_path %>
            </p>
          </center>
        </div>
      </div>
    </div>
  </div>
