<div class="container">
  <div class="row">
    <div class="col-md-3">
      <%= render "users/sidebar" %>
    </div>
    <div class="col-md-9">
      <h2>
        <% if current_user == @user %>My<% else %><%= @user.first_name %>'s<% end %> Network
      </h2>
      <p>
      <div class="btn-group btn-group-justified">
        <%= link_to 'Network', user_network_path(@user),class: "btn btn-primary" %>
        <%= link_to 'Permissions', user_network_permissions_path(@user),class: "btn btn-default" %>
      </div>
      </p>
    <% if @user.followed_users.any? %>
    <% @user.handshakes.each do |f| %>
    <div class="panel panel-default">
      <div class="panel-body">
        <p class="pull-right">
          <%= link_to edit_handshake_path(f), class: "btn btn-sm btn-default tag-tooltip", data: {:toggle=>"tooltip"}, 'data-original-title' => "Edit " , 'data-placement' => 'bottom'  do %>
          <i class='fa fa-gear'></i> Edit Relationship
          <% end %>
          <%= link_to "Remove", f, class: 'btn btn-sm  btn-default pull-', method: :delete %>
        </p>
        <h4>
          <%= image_tag f.followed.imageurl, class: 'img-circle', style: 'padding: 0px; margin: 0px; max-width: 50px; max-height: 50px;' %> <%= link_to f.followed.full_name, f.followed %>
        </h4>
      </div>
    </div>
    <% end %>
    <center>
    <p>
      <%= link_to "Click here to find family, friends, doctors or specialists to add to your network.", users_path %>
    </p>
    </center>
    <% end %>
  </div>
</div>
</div>
