<div class="container">
  <div class="row">
    <div class="col-md-3">
      <%= render "users/sidebar" %>
    </div>
    <div class="col-md-9">
      <ul class="nav nav-tabs">
        <li><%= link_to user_network_path(@user) do %><%= fa_icon "users", class: 'text-primary' %> Network <% end %></li>
        <li><%= link_to user_network_permissions_path(@user) do %><%= fa_icon "lock", class: 'text-primary' %> Permissions <% end %></li>
        <li class="active"><%= link_to user_network_feed_path(@user) do %><%= fa_icon "files-o", class: 'text-primary' %> Data Stream <% end %></li>
      </ul>
    <% if @user.followed_users.any? %>
    <% @user.handshakes.each do |f| %>
    <% f.followed.trackers.each do |t| %>
    <div class="panel panel-default">
      <div class="panel-body">
        <h5>
          <%= image_tag f.followed.imageurl, class: 'img-circle', style: 'padding: 0px; margin: 0px; max-width: 20px; max-height: 20px;' %> <%= link_to f.followed.full_name, f.followed %> - <%= f.relationship_name %>
        </h5>
        <p>
          <%= t.name %>
          <% t.datapoints.each do |d| %>
          <%= d.amount %>
          <% end %>
        </p>
      </div>
    </div>
    <% end %>
    <% end %>
    <% end %>
    <center>
      <p>
        <%= link_to "Click here to find family, friends, doctors or specialists to add to your network.", users_path %>
      </p>
    </center>
  </div>
</div>
