<div class="container">
  <div class="row">
    <div class="col-md-3">
      <%= render "users/sidebar" %>
    </div>
    <div class="col-md-9">
      <h2>
        <% if current_user == @user %>My<% else %><%= @user.first_name %>'s<% end %> Network Permissions
      </h2>
      <p>
      <div class="btn-group btn-group-justified">
        <%= link_to 'Network', user_network_path(@user),class: "btn btn-default" %>
        <%= link_to 'Permissions', user_network_permissions_path(@user),class: "btn btn-primary" %>
      </div>
      </p>
    <div class="panel panel-default">
      <div class="panel-body">
        <%= form_for [@user, Permission.new] do |f| %>
        <%= f.hidden_field :user_id, value: @user.id %>
        <div class="form-group col-md-3">
          <%= f.collection_select :permissible_user_id, @user.followed_users, :id, :full_name, {prompt: "Select a person to share to"}, {class: "form-control col-lg-2"} %>
        </div>
        <div class="form-group col-md-1">
          can see
        </div>
        <div class="form-group form-horizontal col-md-3">
          <%= f.collection_select :condition_id, @user.conditions, :id, :page_name, {prompt: "Select something to share"}, {class: "form-control col-lg-2"} %>
        </div>
        <%= f.submit class: "form-contol btn btn-primary" %>
        <% end %>
      </div>
    </div>
    <% if @user.followed_users.any? %>
    <% @user.followed_users.each do |f| %>
    <div class="panel panel-default">
      <div class="panel-body">
        <h4><%= image_tag f.imageurl, class: 'img-rounded', style: 'max-width: 60px; max-height: 60px;' %> <%= link_to f.full_name, f %></h4>
        <div class="table-responsive">
          <table class="table">
            <% @user.permissions.each do |permission| %>
            <% if Condition.exists?(permission.condition_id) and permission.permissible_user == f %>
            <tr>
              <td><%= link_to Condition.find(permission.condition_id).page_name, condition_posts_path(Condition.find(permission.condition_id)) %></td>
              <td><%= fa_icon "eye" %> Can view</td> 
              <td><%= link_to permission, class: "", method: :delete, data: { confirm: 'Are you sure?' } do %><%= fa_icon "remove" %><% end %></td>
            </tr>
            <% end %>
            <% end %>
          </table>
        </div>
      </div>
    </div>
    <% end %>
    <% else %>
    <p class="lead">
      Do you want to share your health information with family members, careproviders, or specialists?<br> <%= link_to "Click here to find them.", users_path %>
    </p>
    <% end %>
  </div>
</div>
</div>
