<%= render "layouts/navbar" %>
	<div class="starter-template">
		<%= link_to users_path do %>
		<i class="fa fa-home"></i> Home
		<% end%> | 
		<%= link_to users_path do %>
		<i class="fa fa-chart"></i> Activity
		<% end%> | 
		<%= link_to users_path do %>
		<i class="fa fa-medkit"></i> Files
		<% end%> | 
		<%= link_to users_path do %>
		<i class="fa fa-stethoscope"></i> Tests
		<% end%>
	</div>
	<br>
	<div class="well">
		<h3>Contact Informations</h3>
		<hr>
		<%= @user.email %><p>
		<%= @user.first_name %></p>
		<%= @user.password %>
	</div>
	<div class="well">
		<h3>Allergies</h3><%= link_to "New Allergy", new_allergy_path, class: "btn btn-link" %>
		<%= render :partial => @user.allergies %>
		<hr>
	</div>

	<div class="well">
		<h3>Friends</h3>
		<% for friendship in @user.friendships %>
		<li>
			<%=h friendship.friend.email %>
			(<%= link_to "remove", friendship, :method => :delete %>)
		</li>
		<% end %>
		<h3>Friended by Users</h3>
		<ul>
			<% for user in @user.inverse_friends %>
			<li><%=h user.email %></li>
			<% end %>
		</ul>
		<hr>
	</div>

</div>

