<%= render "layouts/navbar" %>
<div class="container">

	<h1 >
		<%= avatar_profile_link @user, {width: 130}, class: ' pull-left', style: "margin: 0 20px 10px 0;" %><%= @user.full_name %>
	</h1>

	<%= link_to @user, class: "btn btn-md btn-success" do %><i class="fa fa-home" style=""></i> Activity<% end %>
	<%= link_to @user, class: "btn btn-md btn-warning" do %><i class="fa fa-medkit"></i> Medical Info<% end %>
	<%= link_to albums_path(@user), class: "btn btn-md btn-danger" do %><i class="fa fa-file"></i> Files<% end %>
	<%= link_to user_pictures_path(@user), class: "btn btn-md btn-primary" do %><i class="fa fa-list"></i> Todo<% end %>
	
	<% if current_user.friends.include?(@user) || current_user.pending_friends.include?(@user) %>
	<%= link_to "Edit Friendship", edit_user_friendship_path(friend_id: @user), class: 'btn' %>
	<% else %>
	<%= link_to "Add Friend", new_user_friendship_path(friend_id: @user), class: 'btn', id: 'add-friendship', data: { friend_id: @user.to_param } %>
	<% end %>

	<div class="row">
		<h3>Activity</h3>
		<%= link_to "New Status", new_status_path %>
		<div class="well">
			<%= render :partial => @user.statuses %>
		</div>
		<div class="well">
			<h3>Allergies <%= link_to  new_allergy_path, class: "btn btn-sm btn-default" do %>+<% end %></h3>
			<%= render :partial => @user.allergies %>
			<hr>
		</div>

		<div class="well">
			<h3>Friends</h3>

		</div>

	</div>

