<div class="container">
  <% if current_user.following?(@user) %>
  <div class="panel panel-default panel-body" id="home">
    <%= @user.full_name %> is connected to you. <%= link_to "Modify your handshake.", current_user.find_handshake(@user) %>
    <p>
      Please note, the ability to view information from users in your network is a work in progress. Currently you may modify your handshake to choose what informaiton of yours <%= @user.full_name %> will be able to see once this feature is fully developed.
    </p>
    <% end %>
  </div>
</div>
<% if current_user?(@user) %>
<div class="container">
  <div class="row">
    <div class="col-md-3">
      <%= render "users/sidebar" %>
    </div>
    <div class="col-md-9">
      <%= render "users/feed" %>
    </div>
  </div>
</div>
<% end %>