<%= render "layouts/navbar" %>
	<p>
	<%= avatar_profile_link @user, {}, class: '' %>
	<%= @user.email %>
	<%= link_to @user, class: "btn btn-lg btn-default" do %><i class="fa fa-home"> Activity</i><% end %>
	<%= link_to @user, class: "btn btn-lg btn-default" do %><i class="fa fa-medkit"> Medical Info</i><% end %>
	<%= link_to @user, class: "btn btn-lg btn-default" do %><i class="fa fa-file"> Files</i><% end %>
	<%= link_to @user, class: "btn btn-lg btn-default" do %><i class="fa fa-list"> Todo</i><% end %>
	</p>
	<div class="well">
		<h3>Allergies <%= link_to  new_allergy_path, class: "btn btn-sm btn-default" do %>+<% end %></h3>
		<%= render :partial => @user.allergies %>
		<hr>
	</div>

	<div class="well">
		<h3>Friends</h3>
		<% for friendship in @user.friendships %>
		<li>
			<%=h friendship.friend.email %>
			(<%= link_to "remove", friendship, :method => :delete %>)
		</li>
		<% end %>
		<h3>Friended by Users</h3>
		<ul>
			<% for user in @user.inverse_friends %>
			<li><%=h user.email %></li>
			<% end %>
		</ul>
		<hr>
	</div>

</div>

