<div class="container-fluid">
  <div class="row">
    <div class="col-md-3">
    </div>
    <div class="col-md-6">
      <%= render "users/sidebar" %>
      <div class="btn-group btn-group-justified" role="group" aria-label="...">
        <%= link_to user_dashboard_path(current_user), class: 'btn btn-default btn-justified' do %><%= fa_icon "list-alt" %> Timeline <% end %>
        <%= link_to user_summary_path(current_user), class: 'btn btn-primary btn-justified' do %><%= fa_icon "file-text-o" %> Summary <% end %>
      </div>
      <hr>
      <%= render 'conditions/conditions' %>
      <hr>
      <%= render 'medications/medications' %>
      <hr>
      <%= render 'allergies/allergies' %>
      <hr>
      <%= render 'immunizations/immunizations' %>
      <%= render 'layouts/panel_foot' %>
    </div>
  </div>
</div>