<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
    </div>
    <div class="col-md-8">
      <%= render "users/sidebar" %>
      <div class="btn-group btn-group-justified" role="group" aria-label="...">
        <%= link_to user_dashboard_path(current_user), class: 'btn btn-default btn-justified' do %> Timeline <% end %>
        <%= link_to "Summary", user_summary_path(current_user), class: 'btn btn-primary btn-justified' %>
      </div>
      <br>
      <center><h1>Health Summary</h1></center>
      <hr>
      <%= render 'allergies/allergies' %>
      <hr>
      <%= render 'medications/medications' %>
      <hr>
      <%= render 'conditions/conditions' %>
      <hr>
      <%= render 'immunizations/immunizations' %>
      <%= render 'layouts/panel_foot' %>
    </div>
  </div>
</div>