<div class="container">
  <div class="row">
    <div class="col-md-3">
      <%= render "users/sidebar" %>
    </div>
    <div class="col-md-9">
      <div class="panel panel-default">
        <div class="panel-body">
          <h1 class='text-primary'><%= fa_icon "heart" %> Summary</h1>
          <hr>
          <h2><%= fa_icon "leaf" %> Allergies</h2>
          <%= render 'allergies/allergies' %>
          <h2><%= fa_icon "medkit" %> Medications</h2>
          <%= render 'medications/medications' %>
          <h2><%= fa_icon "stethoscope" %> Conditions</h2>
          <%= render 'conditions/conditions' %>
          <h2><%= fa_icon "bar-chart" %> Immunizations</h2>
          <%= render 'immunizations/immunizations' %>
        </div>
      </div>
    </div>
  </div>
</div>