<div class="container">
  <div class="row">
    <div class="col-md-3">
      <%= render "users/sidebar" %>
    </div>
    <div class="col-md-9">
      <h1>Summary</h1>
      <div class="panel panel-default">
        <div class="panel-body">
          <h2>Allergies</h2>
          <%= render 'allergies/allergies' %>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-body">
          <h2>Medications</h2>
          <%= render 'medications/medications' %>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-body">
          <h2>Conditions</h2>
          <%= render 'conditions/conditions' %>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-body">
          <h2>Trackers</h2>
          <%= render 'trackers/trackers' %>
        </div>
      </div>
    </div>
  </div>
</div>