<div class="container">
  <div class="row">
    <div class="col-md-3">
      <%= render "users/sidebar" %>
    </div>
    <div class="col-md-9">
      <div class="panel panel-default">
        <div class="panel-body">
          <h2>
            <%= link_to new_medication_path, class: "btn btn-default pull-right" do %> New Medication <% end %>
            <strong>Medications</strong> - <%= link_to @user.full_name, @user %>
          </h2>
          <hr>
          <% for medication in @medications %>
          <p class='lead'>
            <%= medication.name %>
            <%= link_to edit_medication_path(medication), class: "btn btn-primary tag-tooltip", data: {:toggle=>"tooltip"}, 'data-original-title' => "Edit " + medication.name, 'data-placement' => 'bottom'  do %>
            <i class='fa fa-gear'></i> Edit
            <% end %>
            <%= link_to medication, class: "btn btn-danger tag-tooltip", data: {:toggle=>"tooltip"}, 'data-original-title' => "Remove " + medication.name, 'data-placement' => 'bottom', :confirm => 'Are you sure?', :method => :delete do %>
            <i class='fa fa-trash-o'></i> Remove
            <% end %>
            <%= medication.dosage %>
          </p>
          <p>
            <%= link_to "Add pharmacy?", new_pharmacy_path %>

          </p>
          <hr>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>