<div class="container">
  <div class="panel panel-default">
    <div class="panel-body">
      <h2><a class="btn btn-default pull-right" data-toggle="modal" data-target="#myModal">
        <%= fa_icon "plus" %> Make a tracker or Community
        </a>
        <strong>App Trackers &amp; Communities</strong><% render 'pages/search' %>
      </h2>
      <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h3 class="modal-title" id="myModalLabel">Make an App</h3>
              <p class="lead">Are you sure this app doesn't already exist? Check the catalog first before proceeding. </p>
            </div>
            <%= form_for Page.new do |f| %>
            <div class="modal-body">
              <div>
                Name of App<br />
                <%= f.text_field :name, autofocus: true, class:"form-control" %>
              </div>
              <div>
                Provide a brief description of this app.<br />
                <%= f.text_area :description, class:"form-control" %>
              </div>
              <div>
                <%= f.label :page_type %><br />
                <%= f.select :page_type, page_type: ["Posts Index", "Posts Super Index"] %><br />
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <%= f.submit "Save", class: "btn btn-primary" %>
            </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% if @pages.any? %>
  <div class="row">
    <% @pages.each do |page| %>
    <div class="col-md-4">
      <div class="panel panel-primary">
        <div class="panel-body">
          <center>
            <h3><%= link_to page.name, page %> <%= fa_icon 'group', class: 'text-primary' %> <%= page.conditions.count %></h3>
            <hr>
          </center>
          <%= link_to "Add App", page, class: 'btn btn-sm btn-default btn-block' %>
          <h4></h4>
        </div>
      </div>
    </div>
    <% end %>
  </div>
  <%= will_paginate @pages, class: 'pagination', renderer: BootstrapPagination::Rails %>
  <% end %>
</div>