<body style="background-color: #EEEEEE;"><div class="container">

  <h1>
    <button class="btn pull-right btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
      <%= fa_icon "plus" %> Submit Information
    </button>
    <%= @page.name %><% if current_user.badmin? %><%= link_to "Edit",  edit_page_path(@page), class: "btn pull-right " %><% end %>
    </h2>     
  <div class="btn-group btn-group-justified">
    <%= link_to (@page),class: "btn btn-primary" do %><%= fa_icon 'medkit' %> Basic<% end %>
    <%= link_to (@page),class: "btn btn-default" do %><%= fa_icon 'stethoscope' %> Symptoms<% end %>
    <%= link_to (@page),class: "btn btn-default" do %><%= fa_icon 'medkit' %> Treatments<% end %>
  </div><br>
  <div class="collapse" id="collapseExample">
    <div class="well">
      <%= render 'pages/new_droplet' %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-9">
      <% @page.droplets.each do |f| %>
      <% if f.body.presence %>
      <div class="panel panel-default">
        <div class="panel-body">
          <%= link_to 'star', @page, class: 'pull-right btn btn-sm btn-default' %> <%= link_to '0', @page, class: 'pull-right btn btn-sm btn-default' %>
          <p><%= image_tag f.user.imageurl, class: 'img-circle', style: 'padding: 0px; margin: 0px; max-width: 30px; max-height: 30px;' %> Posted by <%= link_to f.user.full_name, f.user %> -
                  <%= f.created_at.strftime("%B %d, %Y") %>
                  at <%= f.created_at.strftime("%I:%M") %></p>
          <p><hr>
          <div class="lead embed-responsive embed-responsive-16by9">
            <%= f.body_html %>
          </div>
          </p>
        
        <% if user_signed_in? and current_user.id == f.user_id %><p>
        <%= link_to 'Edit', edit_droplet_path(f) %> | 
        <%= link_to 'Remove', f, method: :delete, data: { confirm: 'Are you sure?' }, class: 'text-danger' %></p>
        <% end %>
      </div>
    </div>
    <% end %> <% end %>
  </div>

  <div class="col-md-3">
    <div class="alert alert-success" role="alert">Notice: This feature is under construction. This is intended to be a community page for gathering data about a medical condition. No data is made public here unless specifically authorized by an individual. </div>
    <% if current_user.conditions.map(&:page_id).include?(@page.id) %>
    <div class="alert alert-info" role="alert"> You are tracking this condition in your health record.  </div>
    <% end %>
    <%= link_to user_conditions_path(current_user), class: 'btn btn-primary btn-block' do %>
    <%= fa_icon "plus" %> Add to my Health Record
    <% end %><br>
    <%= link_to page_path(@page), class: 'btn btn-primary btn-block' do %>
    <%= fa_icon "database" %> View Public Records
    <% end %><br>
    <div class="panel panel-default">
      <div class="panel-body">
        <%= @page.users.count %> people are tracking this condition.<br>
      </div>
    </div>
  </div>
  </div>

