<body style="background-color: #EEEEEE;"><div class="container">
  <div class="panel panel-default">
    <div class="panel-body">
      <h2>
        <button class="btn pull-right btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
          New Droplet
        </button>
        <%= @page.name %><% if current_user.badmin? %><%= link_to "Edit",  edit_page_path(@page), class: "btn pull-right " %><% end %>
      </h2>      
    </div>
  </div>
  <div class="collapse" id="collapseExample">
    <div class="well">
      <%= render 'pages/new_droplet' %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-9">
      <% @page.droplets.each do |f| %>
      <div class="panel panel-default">
        <div class="panel-body">
          <p><i><b>Posted <%= f.created_at %> </b></i></p>
          <p>
          <div class="embed-responsive embed-responsive-16by9">
            <%= f.body_html %>
          </div>
          </p>
        <% if user_signed_in? and current_user.id == f.user_id %>
        <%= link_to 'Edit', edit_droplet_path(f) %> | 
        <%= link_to 'Destroy', f, method: :delete, data: { confirm: 'Are you sure?' }, class: 'text-danger' %>
        <% end %>
      </div>
    </div>
    <% end %>

    <p>
      <span class="badge"><%= @page.users.count %></span> people are tracking this condition.<br>
      <% @page.users.each do |f| %>
      <%= link_to f.full_name, f %>
      <% end %>
    </p>
    <p>
      <%= link_to "Symptoms", @page, class: "btn btn-default btn-sm" %>
      <%= link_to "Treatments", @page, class: "btn btn-default btn-sm" %>
      <%= link_to "Tracking	", @page, class: "btn btn-default btn-sm" %>
    </p>
  <%= link_to "Back", pages_path %>
  </div>

  <div class="col-md-3">
    <%= link_to page_path(@page), class: 'btn btn-primary btn-block' do %>
    <%= fa_icon "database" %> Public Records
    <% end %><br>
    <div class="panel panel-default">
      <div class="panel-body">
        <%= link_to "Edit", edit_page_path(@page) %><br>
        <%= @page.users.count %> people are tracking this condition.<br>
      </div>
    </div>
  </div>
  </div>

