<div class="container">
  <h2><%= link_to "Albums", user_albums_path(current_user) %> / <strong><%= @album.title %></strong>
  <%= link_to new_album_picture_path(@album), class: "btn pull-right btn-default btn-lg" do %>
    <span class="glyphicon glyphicon-picture"></span> Upload Picture
  <% end %>
</h2>
  <hr>


<% @pictures.each do |picture| %>
    <div class="col-md-3">
    <%= link_to image_tag(picture.asset.url(:small)), album_picture_path( @album, picture) %><br />
      <div class="caption">
        <% if picture.caption? %><%= picture.caption %><br /><% end %>
        
        <%= link_to 'View full size', album_picture_path( @album, picture) %>

          <%= link_to "Edit", edit_album_picture_path(@album, picture) %>
          <%= link_to "Delete", album_picture_path(@album, picture), method: :delete, data: { confirm: "Are you sure?" } %>

      </div>
    </div>
<% end %>