<h1>Listing ko_medications</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ko_medications.each do |ko_medication| %>
      <tr>
        <td><%= ko_medication.name %></td>
        <td><%= ko_medication.description %></td>
        <td><%= link_to 'Show', ko_medication %></td>
        <td><%= link_to 'Edit', edit_ko_medication_path(ko_medication) %></td>
        <td><%= link_to 'Destroy', ko_medication, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ko medication', new_ko_medication_path %>
