<%= form_for Allergy.new do |f| %>
<p>
  <%= f.label :name %><br />
  <%= f.text_field :name, autofocus: true, class:"form-control" %>
  <%= f.label :description %><br />
  <%= f.text_area :description, class:"form-control" %>
  <%= f.submit "Save Allergy", class: "btn btn-primary" %>
</p>
<% end %>