
<div class="container">
	<h2><strong>Allergies</strong> - <%= link_to @user.full_name, @user %></h2>
	<hr>
	<%= link_to new_allergy_path, class: "btn btn-default pull-right" do %> New Allergy <% end %>
	<table class="table table-bordered">
		<tr>
			<th>Name</th>
			<th>Description</th>
		</tr>
		<% for allergy in @allergies %>
		<tr>
			<td><%= allergy.name %></td>
			<td><%= allergy.description %></td>
			<td><%= link_to "Show", allergy %></td>
			<td><%= link_to "Edit", edit_allergy_path(allergy) %></td>
			<td><%= link_to "Destroy", allergy, :confirm => 'Are you sure?', :method => :delete %></td>
		</tr>
		<% end %>
	</table>
</div>
</div>