<h1>Listing photos</h1>

<table>
  <thead>
    <tr>
      <th>Gallery</th>
      <th>Image</th>
      <th>Gallery token</th>
      <th>Image file name</th>
      <th>Image content type</th>
      <th>Image file size</th>
      <th>Image updated at</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @photos.each do |photo| %>
      <tr>
        <td><%= photo.gallery_id %></td>
        <td><%= photo.image %></td>
        <td><%= photo.gallery_token %></td>
        <td><%= photo.image_file_name %></td>
        <td><%= photo.image_content_type %></td>
        <td><%= photo.image_file_size %></td>
        <td><%= photo.image_updated_at %></td>
        <td><%= photo.description %></td>
        <td><%= link_to 'Show', photo %></td>
        <td><%= link_to 'Edit', edit_photo_path(photo) %></td>
        <td><%= link_to 'Destroy', photo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Photo', new_photo_path %>
