<%= form_for [@condition, Post.new] do |f| %>
<h4>Write about your progress</h4>
<div>
  <%= f.hidden_field :user_id, value: current_user.id %>
  <div class="form-group">
    <%= f.hidden_field :condition_id, value: @condition.id %>
  </div>
  <%= f.text_area :description, class:"form-control", placeholder: 'How are you feeling?', rows: 3 %>
</div>
<br>
<%= f.submit "Post", class: "btn btn-primary" %>

<% end %>