<div class="container">
  <div class="row">
    <div class="col-md-3">
      <%= render "users/sidebar" %>
    </div>
    <div class="col-md-9">
      <% if @condition.page.presence %>
      <h2><%= @condition.page.name %></h2>
      <% end %><p>
      <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
        <%= fa_icon "plus" %>  Add Record
      </button>
      <%= link_to edit_condition_path(@condition), class: "btn btn-raised btn-default" do %><i class="fa fa-pencil"></i> Edit<% end %>
      <%= link_to condition_path(@condition), class: "btn btn-raised btn-default", method: :delete, data: { confirm: "Are you sure?" }  do %><i class="fa fa-trash-o"></i> Remove<% end %>
      </p>
      <div class="collapse" id="collapseExample">
        <div class="well">
          <%= render 'posts/new_post' %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8">
          <div class="panel panel-default">
            <div class="panel-body">
              <!-- Modal Treatment-->
              <div class="modal fade" id="newTreatment" tabindex="-1" role="dialog" aria-labelledby="myMo	dalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                      <h3 class="modal-title" id="myModalLabel">New Treatment for <%= @condition.name %></h3>
                    </div>  

                    <%= form_for [@condition, Tracker.new], controller: "tracker", url: {user_id: current_user.id, condition_id: @condition.id} do |f| %>
                    <div class="modal-body">	
                      <div>
                        <%= f.hidden_field :user_id %>
                        <%= f.hidden_field :condition_id %>
                        <%= f.collection_select( :medication_id, @user.medications.all, :id, :name, include_blank: "None") %>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      <%= f.submit "Save New Treatment", class: "btn btn-primary" %>
                    </div>
                    <% end %>
                  </div>
                </div>
              </div>
              <!-- Modal -->
              <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myMo	dalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                      <h3 class="modal-title" id="myModalLabel">New Information about <%= @condition.name %></h3>
                    </div>  

                    <%= form_for [@condition, Post.new], url: {user_id: current_user.id} do |f| %>
                    <div class="modal-body">	
                      <div>
                        <%= f.hidden_field :user_id %>
                        <%= f.label :information %><br />
                        <%= f.text_area :description, class:"form-control" %>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      <%= f.submit "Save New Post", class: "btn btn-primary" %>
                    </div>
                    <% end %>
                  </div>
                </div>
              </div>

              <% @posts.each do |post| %>
              <div class="row"><div class="col-md-12">
                <% if @user.presence %>
                <p>
                  Posted by <%= @user.full_name %><% end %> -
                  <%= post.created_at.strftime("%B %d, %Y") %>
                  at <%= post.created_at.strftime("%I:%M") %>
                </p>
                <h4><% if post.title? %><%= post.title %><br /><% end %>
                  <% if post.description? %><%= post.description %><br /><% end %></h4>

                <%= link_to  condition_post_path(@condition, post), method: :edit do %><i class="fa fa-pencil"></i> Edit<% end %> | 
                <%= link_to  condition_post_path(@condition, post), method: :delete, data: { confirm: "Are you sure?" } do %><i class="fa fa-trash-o"></i> Remove<% end %></div>
                <div class="col-md-0">


                </div>
              </div>
              <hr>
              <% end %>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="panel panel-default">
            <div class="panel-body">
              <% if @condition.page.presence %>
              <h2><%= @condition.page.name %></h2>
              <p>
                <%= link_to @condition.page do %><i class="fa fa-globe"></i> <%= @condition.page.name %><% end %><br>
                <a data-toggle="modal" data-target="#newTreatment">
                  <i class="fa fa-medkit"></i> Add Treatment
                </a> <br>
                <%= link_to @condition.page do %><i class="fa fa-medkit"></i> Treatments<% end %>
              </p>
              <% end %>
              <p>
                Tracked from: <%= @condition.created_at.strftime("%B %d, %Y") %> to Present
              </p>
              <hr>
              <h4>Who can see these records?</h4>
              <% @user.permissions.each do |f| %>
              <h5>
                <% if f.condition_id == @condition.id %>
                <%= link_to f.permissible_user.full_name, f.permissible_user %>
                <% end %>
              </h5>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>