<% @user.trackers.each do |f| %>
<h3>
  <% if f.name == 'Walking' %>
  <%= render 'trackers/custom_walking', tracker: f %>
  <% end %>
  <% if f.name == 'Running' %>
  <%= render 'trackers/custom_running', tracker: f %>
  <% end %>
  <% if f.name == 'Caffeine' %>
  <%= render 'trackers/custom_caffeine', tracker: f %>
  <% end %>
  <% if f.name == 'Cycling' %>
  <%= render 'trackers/custom_cycling', tracker: f %>
  <% end %>
  <% if f.name == 'Water' %>
  <%= render 'trackers/custom_water', tracker: f %>
  <% end %>
</h3>
<div class="collapse" id="collapse<%= f.name %>">
  <div class="well">
    <%= render 'heights/form' %>
  </div>
</div>
<%= column_chart f.datapoints.where('created_at >= ?', 1.week.ago).group_by_day(:created_at , format: "%B %d, %Y").sum(:amount), library: { tooltip: { pointFormat: 'Minutes: <b>{point.y}</b>'}} %>
<% end %>