<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @gallery.user_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @gallery.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @gallery.description %>
</p>

<p>
  <strong>Doctor visit:</strong>
  <%= @gallery.doctor_visit_id %>
</p>

<p>
  <strong>Post:</strong>
  <%= @gallery.post_id %>
</p>

<p>
  <strong>Symptom:</strong>
  <%= @gallery.symptom_id %>
</p>

<p>
  <strong>Lab result:</strong>
  <%= @gallery.lab_result %>
</p>

<%= link_to 'Edit', edit_gallery_path(@gallery) %> |
<%= link_to 'Back', galleries_path %>
<div class="row">
  <% @gallery.photos.each do |picture| %>
            <div class="col-md-3">
              <%= link_to image_tag(picture.image.url, class: 'img-responsive'), picture %>
              <br />
              <div class="caption">


                <%= link_to "Edit", edit_picture_path(picture) %>
                <%= link_to "Delete", album_path(picture), method: :delete, data: { confirm: "Are you sure?" } %>

              </div>
            </div>
            <% end %>
          </div>