<%= simple_form_for(Immunization.new) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :user_id %>
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.input :b_validated %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
