<h2>
  <%= fa_icon "bug" %> Immunizations
  <div class="btn-group pull-right">
    <button class="pull- btn-sm  btn btn-default" type="button" data-toggle="collapse" data-target="#collapseFormI" aria-expanded="false" aria-controls="collapseExample">
      <%= fa_icon "plus" %> Add
    </button> 
    <%= link_to user_immunizations_path(@user), class: 'btn btn-sm  btn-default' do %>
      <%= fa_icon "book" %> History
    <% end %>
  </div>
</h2>
<div class="collapse" id="collapseFormI">
  <%= render 'immunizations/form' %>
</div>
<% if @user.immunizations.none? %>
No immunizations listed
<% else %>
<table class='table table-striped table-hover table-responsive'>
  <thead>
    <tr class="info">
      <td>Vaccination received </td>
      <td>To protect against</td>
      <td>Doses/Age</td>
      <td></td>
    </tr>
  </thead>
  <tbody>
    <% for immunization in @user.immunizations %>
    <tr>
      <td><strong><%= immunization.name %></strong></td>
      <td><%= immunization.description %></td>
      <td><%= immunization.rec_dose %>/<%= immunization.rec_age %> <% if immunization.b_validated %><h4><span class="label label-success">Validated</span></h4><% end %></td>
      <td>
        <div class="dropdown pull-right">
          <a href="#" class="dropdown-toggle pull-right  btn-default btn btn-sm m pull-" style="" data-toggle="dropdown">
            <%= fa_icon "gear", class: 'text-default' %>
          </a>
          <ul class="dropdown-menu pull-right">
            <li>
              <%= link_to edit_immunization_path(immunization) do %>
              <i class='fa fa-gear'></i> Edit
              <% end %>
            </li>
            <li>
              <%= link_to immunization, data: {:confirm => 'Are you sure?'}, 'data-original-title' => "Remove medication?", :method => :delete do %>
              <i class='fa fa-trash-o'></i> Remove
              <% end %>
            </li>
          </ul>
        </div></td>
    </tr>
    <% end %>
  </tbody>
</table>
<% end %>