
<%= render "users/minibar" %>
<%= render 'layouts/panel_head' %>
<%= render 'immunizations/immunizations' %>
<%= render 'immunizations/recommendations' %>
<hr>
<p>*Recommended up to age 26</p>
<p>**Recommended for adults if not given during childhood</p>
<p>***Recommended for adults with certain risk factors if not given during childhood</p>
<p>Recommendations Source: Centers for Disease Control and Prevention</p>
<%= render 'layouts/panel_foot' %>