<table class="table table-responsive">
	<tr>
		<td><center><center>
			<%= link_to user_heights_path(@user), class: "btn btn-default btn-block" do %>
			<i style="" class=" fa fa-male fa-2x"></i><br>Height
			<% end %>
		</td>
		<td><center>
			<%= link_to user_weights_path(@user), class: "btn btn-default btn-block" do %>
			<i style="" class="fa fa-list fa-2x"></i><br>Weight
			<% end %>
		</td>
		<td><center>
			<%= link_to user_allergies_path(@user), class: "btn btn-default btn-block" do %>
			<i style="" class="center fa fa-leaf fa-2x"></i><br>Allergies
			<% end %>
		</td>

		<td><center>
			<%= link_to user_medications_path(@user), class: "btn btn-default btn-block" do %>
			<i style="" class="fa fa-medkit fa-2x"></i><br>Medications
			<% end %> 
		</td>
	</tr>
	<tr>
		<td><center>
			<%= link_to user_goals_path(@user), class: "btn btn-default btn-block" do %>
			<i style="" class="fa fa-star fa-2x"></i><br>Goals
			<% end %> 
		</td>
		<td><center>
			<%= link_to @user, class: "btn btn-default btn-block" do %>
			<i style="" class="fa fa-cogs fa-2x"></i><br> Settings
			<% end %>
		</td>
		<td><center>
			<%= link_to user_path(@user), class: "btn btn-default btn-block" do %>
			<i style="" class="fa fa-hospital-o fa-2x"></i><br>Emergency<br>Card
			<% end %> 
		</td>
		<td><center>
			<%= link_to user_conditions_path(@user), class: "btn btn-default btn-block" do %>
			<i style="" class="fa fa-stethoscope fa-2x"></i><br>Conditions
			<% end %>
		</td>
	</tr>
</table>
