<table class="table table-responsive">
	<tr>
		<td>
			<%= link_to user_weights_path(@user), class: "btn btn-block btn-primary" do %>
			<i class="fa fa-list"></i><br>Weight
			<% end %>
		</td>
		<td>
			<%= link_to user_allergies_path(@user), class: "btn btn-block btn-primary" do %>
			<span class="glyphicon glyphicon-leaf"></span><br>Allergies
			<% end %>
		</td>
		<td>
			<%= link_to @user, class: "btn btn-block btn-primary" do %>
			<span class="glyphicon glyphicon-tree-conifer"></span><br>Family
			<% end %>
		</td>
	</tr>
	<tr>
		<td>
			<%= link_to user_albums_path(@user), class: "btn btn-block btn-primary" do %>
			<span class="glyphicon glyphicon-camera"></span><br>Photos
			<% end %> 
		</td>
		<td>
			<%= link_to @user, class: "btn btn-block btn-primary" do %>
			<span class="glyphicon glyphicon-heart"></span><br> Trackers
			<% end %>
		</td>
		<td>
			<%= link_to @user, class: "btn btn-block btn-primary" do %>
			<span class="glyphicon glyphicon-comment"></span><br> Messages
			<% end %>
		</td>
		<td>
			<%= link_to static_pages_community_stats_path, class: "btn btn-block btn-primary" do %>
			<span class="glyphicon glyphicon-globe"></span><br>Everyone
			<% end %>
		</td>
	</tr>
	<tr>
		<td>
			<%= link_to user_medications_path(@user), class: "btn btn-block btn-primary" do %>
			<i style="" class="fa fa-medkit "></i><br>Medications
			<% end %> 
		</td>
		<td>
			<%= link_to user_conditions_path(@user), class: "btn btn-block btn-primary" do %>
			<span class="glyphicon glyphicon-flash"></span><br>Conditions
			<% end %>
		</td>
		<td>
			<%= link_to user_heights_path(@user), class: "btn btn-block btn-primary" do %>
			<span class="glyphicon glyphicon-flash"></span><br>Height
			<% end %>
		</td>
		<td>
			<%= link_to user_episodes_path(@user), class: "btn btn-block btn-primary" do %>
			<span class="glyphicon glyphicon-book"></span><br>Episodes
			<% end %>
		</td>
	</tr>
	<tr>
		<td>
			<%= link_to user_episodes_path(@user), class: "btn btn-block btn-primary" do %>
			<i style="" class="fa fa-hospital-o"></i><br>Emergency Card
			<% end %> 
		</td>
		
	</tr>
</table>
