<% if user_signed_in? and current_page?(user_printable_path(current_user)) %>
<div style="background-color: #fff; margin-top: -0px;">
  <% else %>
  <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <a href="#menu-toggle" class="btn-default navbar-toggle" id="menu-toggle"><%= fa_icon 'bars' %> Menu</a>
        <%= link_to root_path, class: "navbar-brand" do %>
        <%= image_tag "ShorelineLogoColor.png", width: 23, style: 'margin-top: -3px;' %>
        Shoreline<span class='text-primary'></span>
        <% end %>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <% if user_signed_in? %>
          <% end %>
          <!-- SEARCH SEARCH SEARCH SEARCH SEARCH SEARCH SEARCH  --><% if  !current_page?(root_path) %>
          <li id="the-basics2">
            <%= form_tag(static_pages_search_path, :method => "get", class: 'navbar-form navbar-left navbar-input-group') do %>
            <div class="form-group">
              <%= text_field_tag :search, params[:search], class: "form-control typeahead", id: "auto_complete", placeholder: "Search..." %>
            </div>
            <%= button_tag( :class => "btn btn-default")  do %>
            <i class="fa fa-search"></i>
            <% end %>
            <% end %>
          </li>
          <%= javascript_tag "var autocomplete_pages = #{ (Page.all.pluck(:name)).to_json };" %>
          <%= javascript_tag "var autocomplete_users = #{ (User.all.pluck(:email)).to_json };" %>
          <script type="text/javascript">
            $('#the-basics2 .typeahead').typeahead(
              { hint: true, highlight: true, minLength: 1},
              { name: 'states', displayKey: 'value', source: substringMatcher(autocomplete_pages),templates: { header: '<h4 style="padding-left: 10px;" class="league-name">Conditions</h4>'}},
              { name: 'states', displayKey: 'value', source: substringMatcher(autocomplete_users),templates: { header: '<h4 style="padding-left: 10px;" class="league-name">People</h4>'}}
            ).on('typeahead:selected',
                 function(e, data) {$("#the-basics2 form").submit();}).css();
          </script>
          <% end %>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <% if user_signed_in? %>


          <!-- SETTINGS SETTINGS SETTINGS SETTINGS SETTINGS SETTINGS SETTINGS  -->
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" style="outline: none"data-toggle="dropdown">
              <%= image_tag current_user.imageurl, class: 'img-circle', style: 'padding: 0px;  margin: 0px; max-width: 23px; max-height: 23px;' %> <span style="  margin: 0px; padding-top: 0px;"><%= current_user.full_name %> <%= fa_icon 'chevron-down  ' %></span> 
            </a>
            <ul class="dropdown-menu dropdown-menu-left" style="margin-top: -5px">
              <li>
                <%= link_to edit_registration_path(current_user) do %><%= fa_icon "pencil" %> Edit Profile <% end %>
              </li>  
              <li>
                <%= link_to static_pages_about_path do %><%= fa_icon "question-circle" %> Help &amp; Tutorials <% end %>
              </li>  
              <li class="divider"></li>
              <li>
                <%= link_to user_goals_path(current_user) do %><%= fa_icon "star" %> Goals <% end %>
              </li>
              <li>
                <%= link_to user_metrics_path(current_user) do %><%= fa_icon "bar-chart" %> Trackers <% end %>
              </li>
              <li>
                <%= link_to user_conditions_path(current_user) do %><%= fa_icon "pencil" %> Conditions <% end %>
              </li>
              <li class="divider"></li>
              <li>
                <%= link_to  logout_path, :method => :delete do %><%= fa_icon 'power-off' %> Log out<% end %>
              </li>
            </ul>
          </li>



          <% else %>

          <!-- IF NOT LOGGED IN -->
          <!-- IF NOT LOGGED IN -->
          <!-- IF NOT LOGGED IN -->


          <li>
            <%= link_to "Home", root_path, class: "" %>
          </li>
          <li>
            <%= link_to "About", static_pages_about_path, class: "" %>
          </li>
          <li>
            <%= link_to "Features", static_pages_features_path, class: "" %>
          </li>
          <li>
            <%= link_to "Sign Up", new_user_registration_path, class: "" %>
          </li>
          <li>
            <%= link_to "Sign In", new_user_session_path %>
          </li>
          <% end %>

        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
  <% end %>
</div>