<div class="navbar navbar-default navbar-fixed-top" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<% if user_signed_in? %>
				<%= link_to current_user, style: "font-size: 18px;", class: "navbar-brand" do %>
					Komodo
				<% end %>
			<% else %>
				<%= link_to root_path, style: "font-size: 18px;", class: "navbar-brand" do %>
				Komodo
				<% end %>
			<% end %>
		</div>
		<div class="navbar-collapse collapse">
			<ul class="nav navbar-nav">
				<% if user_signed_in? %>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" style="font-size: 18px" data-toggle="dropdown">
						<span class="glyphicon glyphicon-th"></span>
					</a>
					<ul class="dropdown-menu well">
						<table class="table table-responsive">
	<tr>
		<td>
			<%= link_to user_heights_path(current_user), class: "btn btn-block btn-primary" do %>
			<i style="" class="fa fa-male fa-2x"></i><br>Height
			<% end %>
		</td>
		<td>
			<%= link_to user_weights_path(current_user), class: "btn btn-block btn-primary" do %>
			<i style="" class="fa fa-list fa-2x"></i><br>Weight
			<% end %>
		</td>
		<td>
			<%= link_to user_allergies_path(current_user), class: "btn btn-block btn-primary" do %>
			<i style="" class="fa fa-leaf fa-2x"></i><br>Allergies
			<% end %>
		</td>

		<td>
			<%= link_to user_medications_path(current_user), class: "btn btn-block btn-primary" do %>
			<i style="" class="fa fa-medkit fa-2x"></i><br>Medications
			<% end %> 
		</td>
	</tr>
	<tr>
		<td>
			<%= link_to user_goals_path(current_user), class: "btn btn-block btn-primary" do %>
			<i style="" class="fa fa-star fa-2x"></i><br>Goals
			<% end %> 
		</td>
		<td>
			<%= link_to current_user, class: "btn btn-block btn-primary" do %>
			<i style="" class="fa fa-cogs fa-2x"></i><br> Settings
			<% end %>
		</td>
		<td>
			<%= link_to user_path(current_user), class: "btn btn-block btn-primary" do %>
			<i style="" class="fa fa-hospital-o fa-2x"></i><br>Emergency<br>Card
			<% end %> 
		</td>
		<td>
			<%= link_to user_conditions_path(current_user), class: "btn btn-block btn-primary" do %>
			<i style="" class="fa fa-stethoscope fa-2x"></i><br>Conditions
			<% end %>
		</td>
	</tr>
</table>

						<li>
							<%= link_to user_apps_path(current_user), class: "text-center" do %>
							<strong>See All Apps</strong>
							<i class="fa fa-angle-right"></i>
							<% end %>
						</li>
					</uL>
				</li>
				<%= form_tag static_pages_search_path, class: "navbar-form navbar-left", :method => 'get' do %>
					<%= text_field_tag :search, params[:search], placeholder: "Search...",class: "form-control" %>
					<button type="submit" class="btn btn-default"><i  class="fa fa-search"></i></button>
					<% end %>
				<% end %>	

			</ul>
			<ul class="nav navbar-nav navbar-right">
				<% if user_signed_in? %>
				<li class="dropdown">
					<%= link_to static_pages_about_path do %>
						<i class="fa fa-info"></i>
					<% end %>
				</li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" style="" data-toggle="dropdown">
						<i class="fa fa-medkit"></i>
					</a>
					<ul class="dropdown-menu">
						<li>
							<%= link_to "Everone", users_path %>
						</li>
						<li>
							<%= link_to "Pages", pages_path %>
						</li>
						<li>
							<%= link_to "Community Stats", static_pages_community_stats_path %>
						</li>
					</uL>
				</li>
				
				<li class="dropdown ">
					<a href="#" class="dropdown-toggle" style="outline: none"data-toggle="dropdown">
						<span style="padding-top: 15px;"><i style="padding-right : 5px;"class="fa fa-user"></i> <%= current_user.first_name %></span> 
					</a>
					<ul class="dropdown-menu">
						<li>
							<%= link_to "View Profile", current_user  %>
						</li>
						<li>
							<%= link_to "Edit Profile", edit_registration_path(current_user) %>
						</li>  
						<li>
							<%= link_to "Help", static_pages_about_path %>
						</li>  
						<li class="divider"></li>
						<li>
							<%= link_to  logout_path, :method => :delete do %><span class="glyphicon glyphicon-log-out"></span> Log out<% end %>
						</li>
					</ul>
				</li>
				<% else %>
				<form class="navbar-form navbar-right">
					<%= link_to "Sign In", new_user_session_path, class: "btn btn-default" %>
				</form>
				<li>
					<%= link_to "Home", root_path, class: "" %>
				</li>
				<li>
					<%= link_to "About", static_pages_about_path, class: "" %>
				</li>
				<li>
					<%= link_to "Sign Up", new_user_registration_path, class: "" %>
				</li>
				<% end %>
			</ul>
		</div><!--/.nav-collapse -->
	</div>
</div>