
	<div class="panel panel-primary">
		<div class="panel-heading">
			<h1>My Information</h1>
		</div>
		<div class="panel-body">
			<strong>Gender</strong>
			<%= @user.gender %><br>
			<strong>Birthday</strong>
			<%= @user.date_of_birth.strftime("%B %d, %Y") %>
			<div class="row text-primary">
					<div class="col-sm-2">
						<h3 class=""><strong><%= @user.date_of_birth_age %></strong><small> years old</small></h3>
					</div>
					<% if @user.heights.any? %><div class="col-sm-2">
						<h3 class=""><strong><%= @user.heights.last.amount %></strong><small> height</small></h3>
					</div><% end %>
					<div class="col-sm-2">
						<h3 class=""><strong><%= @user.weights.last.amount%></strong><small>lbs</small></h3>
					</div>
					<div class="col-sm-2">
						<h3 class=""><strong><%= @user.date_of_birth_age %></strong></h3> <small>blood pressure</small>
					</div>
					<div class="col-sm-2">
						<h3 class=""><strong><%= @user.date_of_birth_age %></strong></h3> <small>t.cholesterol</small>
					</div>
					<div class="col-sm-2">
						<h3 class=""><strong><%= @user.date_of_birth_age %></strong></h3> <small>glucose</small>
					</div>
				</div>
		</div>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading">
			<h1>Physical Fitness</h1>
		</div>
		<div class="panel-body">
			<h3>Weight</h3>
			<%= line_chart Weight.group(:created_at).maximum(:amount) %>
		</div>
	</div>