<div class="panel-group" id="accordion">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h2 class="panel-">
				<a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"><i class="fa fa-user"></i> Basic Information</a>
				<small>
					<%= link_to "Update Profile", edit_registration_path(@user), class: "btn btn-default pull-right" %>
				</small>
			</h2>
		</div>
		<div id="collapseOne" class="panel-collapse collapse in">
			<div class="panel-body">
				<% if @user.date_of_birth.presence %>
				<strong>Birthday</strong>
				<%= @user.date_of_birth.strftime("%B %d, %Y") %>
				<% end %><br>
				<% if @user.gender.presence %>
				<strong>Gender</strong>
				<%= @user.gender %>
				<% end %><br>
				<% if @user.date_of_birth.presence %>
				<strong>Doner?</strong>
				<%= @user.doner %>
				<% end %><br>
				<% if @user.bloodtype.presence %>
				<strong>Bloodtype</strong>
				<%= @user.full_name %>
				<% end %>
				<div class="row text-primary">
					<% if @user.date_of_birth.presence %>
					<div class="col-sm-2">
						<h3 class=""><strong><%= @user.date_of_birth_age %></strong><small> years old</small></h3>
					</div>
					<% end %>
					<% if @user.heights.presence %><div class="col-sm-2">
					<h3 class=""><strong><%= @user.heights.last.amount %></strong><small> height</small></h3>
				</div><% end %>
				<% if @user.weights.presence %>
				<div class="col-sm-2">
					<h3 class=""><strong><%= link_to @user.weights.last.amount, user_weights_path(@user) %></strong><small>lbs</small></h3>
				</div>
				<% end %>
			</div>
		</div>
	</div>

</div>
<div class="panel panel-default">
	<div class="panel-heading">
		<h2 class="panel-"><a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"><i class="fa fa-medkit"></i> Medical Information</a></h2>
	</div>
	<div id="collapseTwo" class="panel-collapse collapse out">
	<div class="panel-body">
		<h3 class="text-">Allergies 
			<%= link_to "Edit", user_allergies_path(@user), class: "pull- btn-sm btn btn-default" %> 
		</h3>
		<% if @user.allergies.any? %>
		<% for allergy in @user.allergies %>
		<tr>
			<td><%= allergy.name %></td>
		</tr>
		<% end %>
		<% end %>
		
		<% if @user.medications.any? %>
			<h3 class="text-">Medications
				<%= link_to "Edit", user_medications_path(@user), class: "pull- btn-sm btn btn-default" %> 
			</h3>
			<% for medication in @user.medications %>
				<tr>
					<td><%= link_to medication.name, medication %></td>
					<td><%= medication.dosage %></td>
				</tr>
			<% end %>
		<% end %>


	</div>
</div>
</div>

<div class="panel panel-default">
	<div class="panel-heading">
		<h2 class="panel-"><a data-toggle="collapse" data-parent="#accordion" href="#collapseThree"><i class="fa fa-stethoscope"></i> Conditions</a>
			<small>
				<%= link_to "Update Conditions", user_conditions_path(@user), class: "btn btn-default pull-right" %>
			</small>
		</h2>
	</div>
	<div id="collapseThree" class="panel-collapse collapse out">
	<div class="panel-body">
		<% for condition in @user.conditions %>
		<div class="row">
			<div class="col-sm-2">
				<h5>
					<%= time_ago_in_words(condition.created_at) %>
				</h5>
			</div>
			<div class="col-sm-10">
				<h4>
					<strong><%= condition.name %></strong>
					<%= link_to "View full history", condition_posts_path(condition), class: "btn btn-primary pull-right" %>
				</h4>
				<p><%= condition.created_at.strftime("%B %d, %Y") %> - Present</p><br />
				<p>Last Update: </p>
			</div>
		</div>
		<hr>
		<% end %>
	</div>
</div>
</div>

<div class="panel panel-default">
	<div class="panel-heading">
		<h1>Physical Fitness</h1>
	</div>
	<div class="panel-body">
		<h3>Weight</h3>
		<%= line_chart @user.weights.group(:created_at).maximum(:amount) %>
	</div>
</div>

<div class="panel panel-default">
	<div class="panel-heading">
		<h1>Print Your Profile</h1>
	</div>
	<div class="panel-body">
		<%= link_to user_path(@user, :format => "pdf"), class: "btn btn-lg, btn-default" do %><h2><center>
		<i class="glyphicon glyphicon-picture"></i><br>Profile (PDF)</center></h2><% end %>
	</div>
</div>
</div>