<div class="row">
	<div class="col-sm-4">
		<div class="panel panel-default panel-body">
			<h4 class="text-primary">Medical Conditions</h4>

			<% for condition in @user.conditions %>
			<div class="row">
				<div class="col-md-11 col-md-offset-1">
					<p>
						<%= link_to condition.name, condition_posts_path(condition) %>
					</p>
				</div>
			</div>
			<% end %>

			<h4 class="text-primary">Allergies &amp; Reactions</h4>

			<% for allergy in @user.allergies %>
			<div class="row">
				<div class="col-md-11 col-md-offset-1">
					<p>
						<%= allergy.name %>
					</p>
				</div>
			</div>
			<% end %>

			<h4 class="text-primary">Medications</h4>

			<% for allergy in @user.medications %>
			<div class="row">
				<div class="col-md-11 col-md-offset-1">
					<p>
						<%= allergy.name %>
					</p>
				</div>
			</div>
			<% end %>
		</div>
		<div class="panel panel-default panel-body">

			<h4 class="text-primary">Current Goals</h4>

			<% for condition in @user.goals.get_unfinished %>
			<div class="row">
				<div class="col-md-11 col-md-offset-1">
					<p>
						<%= condition.name %>
					</p>
				</div>
			</div>
			<% end %>

		</div>
	</div>
	<div class="col-sm-8">
		<div class="panel panel-default">
			<div class="panel-body">
				<h3>Weight</h3>
				<%= line_chart @user.weights.group(:created_at).maximum(:amount) %>
				<h3>Height</h3>
				<%= line_chart @user.heights.group(:created_at).maximum(:amount) %>
			</div>
		</div>
	</div>
</div>