<!DOCTYPE html>
<html>
  <head>
    <title>Shoreline - Health</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='http://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
    <meta name="description" content="Komodo Care Health Medical Records Personal Catalog Tracking Tracker Share Doctor Caregiver Family Genomics" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/animate.css/3.2.0/animate.min.css">
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => false %>
    <%= favicon_link_tag 'favicon.ico' %>
    <%= csrf_meta_tags %>
  </head>
  <% if user_signed_in? and current_user.b_use_btn_labels == false %>
  <body style="background-color: #FFF;">
    <% else %>
    <body style="background-color: #EEE;">
      <% end %>
      <% if !current_page?(new_user_session_path) and !current_page?(new_user_registration_path) %>
      <%= render "layouts/navbar" %>
      <% end %>
      </div>
    <div class="container"><%= bootstrap_flash %></div>
    <%= yield %>
    <%= render 'layouts/footer' %>
  </body>
</html>
