<%= render 'layouts/panel_head' %>
<h1>Change relationship type</h1>
<%= simple_form_for(@handshake) do |f| %>
<%= f.error_notification %>
<%= @handshake.followed.full_name %> is a...
<div class="form-group">
  <%= f.select(:relationship_name, options_for_select([['Friend'], ['Family Member'], ['Doctor'], ['Patient'], ['Nurse'], ['Caregiver'],['Specialist']]), {}, {class: "form-control"})  %>
</div>
<div class="form-actions">
  <%= f.button :submit, class: 'btn btn-primary btn-lg' %>
</div>
<% end %>
<%= link_to 'Cancel and go back to network', user_network_path(current_user) %>
<%= render 'layouts/panel_foot' %>

<%= render 'layouts/panel_head' %>
<h1>Edit Permissions</h1>
<%= @handshake.followed.full_name %> can see these sections of my health record
<% current_user.conditions.each do |f| %>
<h3><%= if f.name.presence then f.name end %></h3>
<% end %>
<%= render 'layouts/panel_foot' %>